body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

#projects h2 {
  width: 100%;
}

.project-entry img {
  width: 100%;
  box-shadow: 0 0 6px 7px antiquewhite;
  margin: 10px 0;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5% 5px 5%;
  page-break-inside: auto;
}

h1 {
  font-size: 36px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

section {
  padding: 10px 0 25px 0;
}

.welcome-message {
  font-style: italic;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 28px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  clear: both;
}

.dark-gray {
  background-color: #484848;
}

#topContactsContainer {
  display: flex;
  align-items: center;
}

/* TODO: Replace with image later */
#header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

#name {
  color: #0082d4;
}

.biopic {
  float: left;
  padding: 0px;
  margin: 10px;
  width: 125px;
  display: none;
  box-shadow: 0px 0px 14px 4px #0082d4;
  border-radius: 50%;
}

.role {
  color: white;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  padding: 0 0 5px;
}

#lets-connect,
#lets-connect .title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding-bottom: 0;
}

#workExperience {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.work-description {
  list-style-type: disc !important;
  padding: 5px 0 5px 20px;
  line-height: 16pt;
}

.job-description {
  font-size: 14px;
}

.school-detail {
  font-size: 10pt;
  padding: 5px 0 5px;
}

.online-school-url {
  margin-top: 0;
  font-size: 9pt;
}

#education {
  border-radius: 10px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: calc(100% - 60px);
  margin: 0 5%;
}

#mapDiv {
  height: 320px;
  width: 100%;
  padding: 10px 0 25px;
}

@media only screen and (min-width: 700px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only print {
  .project-entry img,
  #mapDiv,
  #lets-connect {
    display: none;
  }

  section {
    padding: 0px;
  }

  .project-entry p {
    page-break-inside: avoid;
  }
}